*

!.gitignore
!.gitmodules
!CMakeLists.txt
!README.md

!externals/
!externals/**/*

!animations/
!animations/**/*

!beamlib/
!beamlib/**/*

!examples/
!examples/**/*

!models/
!models/**/*

!shaders/
!shaders/**/*

!textures/
!textures/**/*
